monitor/src/main/resources/schedule.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://eobjects.org/datacleaner/schedule/1.0"
	xmlns:schedule="http://eobjects.org/datacleaner/schedule/1.0"
	elementFormDefault="qualified">

	<element name="schedule">
		<complexType>
			<sequence>
				<element name="schedule-expression" minOccurs="0" maxOccurs="1"
					type="string" />
				<element name="schedule-after-job" minOccurs="0" maxOccurs="1"
					type="string" />
				<element name="active" minOccurs="1" maxOccurs="1" type="boolean" />
			</sequence>
		</complexType>
	</element>
</schema>